<p id="notice"><%= notice %></p>

<h1>Listing Persions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Bio</th>
      <th>Birthday</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @persions.each do |persion| %>
      <tr>
        <td><%= persion.name %></td>
        <td><%= persion.bio %></td>
        <td><%= persion.birthday %></td>
        <td><%= link_to 'Show', persion %></td>
        <td><%= link_to 'Edit', edit_persion_path(persion) %></td>
        <td><%= link_to 'Destroy', persion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Persion', new_persion_path %>
